body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*-----------------------------
        slader part :start.....
-------------------------------*/
.container {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #2D25A0;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 50px;
    
}
.half-width{
    margin-left: 150px;
    width: 50%;
}
.banner-text {
    width: 500px;
    margin-top: 50px;
    color:#FFFFFF;
    font-size:64px;
}
.banner-img{
    width: 556.01px;
    height: 438;
    
}
.half-width img{
    width: 556.01px;
    height: 438;
    
}
.banner-button {
    text-decoration: none;
    color: white;
    background-color:#E02C6D;
    padding: 15px  35px;
}
.banner-button i{
    margin-left: 15px;
}
.banner-button:hover i{
    width: 30px;
    margin-left: 25px;


}
/*-------------------------------
        slader part :close.......
---------------------------------*/

/*--------------------------------
        second section :start.....
---------------------------------*/
.palyers-section{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 100px;
}
.palyers{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    grid-gap: 50px;
}
.palyer{
    width: 300px;
    height: 474px;
    box-shadow: 0px 0px 10px -7px;
    border-radius: 5px;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.palyer-name {
    font-size: 28px;
    color: #18191F;
}
.palyer-info{
    color: #6C6C6C;
}
.palyer img{
    width: 300px;
    height: 256px;
}
/*--------------------------
        second banner part :start..
---------------------------------*/
.second-banner{
    display: flex;
    margin: 100px;

}
#banner-text{
    color: #0A0826;
}
.banner-button{
    width: 250px;

}
.banner-button:hover p{
    width: 250px;

}
/*--------------------------
        second banner part :close..
---------------------------------*/

/*--------------------------------
        footer section :start..... 
----------------------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #E0E0E0;
    text-align: center;
}
.footer img{
    width: 483.87px;
    height: 110px;
}
.fab {
    height: 17px;
    width: 17px;
    background-color: white;
    padding: 7px 7px 3px 5px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}
/*---------------------------------
        footer section :close......
-----------------------------------*/

/*----------------------------------
        Mobile Devices
------------------------------------*/
@media only screen and (max-width:688px) {
    .banner, .palyers, .second-banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width{
        margin-left: 70px;
        width: 367.01px;
    }
    .banner-text {
        font-size: 25px;
    }
    .banner-img img, .second-banner, .second-banner, .half-width img, .footer img{
        margin-top: 50px;
        width: 367.01px;
    }
    .second-banner {
        margin-top: 50px;
        display: flex;
        margin: 100px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


/*-------------------------
        Tablet devices  
--------------------------------*/
@media only screen and ( min-width: 688px ) and (max-width:992px){
    .half-width{
        margin-left: 70px;
        width: 367.01px;
    }
    .half-width {
        width:50%;
    }
    .half-width img, .banner-text {
        margin-left: -50px;
        font-size: 40px;
        width: 350.01px;
        height: 438;
        margin-top: 50px;
        grid-gap: 25px;
    }
    .palyers {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        grid-gap: 50px;
    }
}
/*---------------------------
        CSS end
----------------------------*/